body,html{
  width:100%;
  height:100%;
}

.top-panel{
  height:20%;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width:100%;
}

.main_panel{
  position: relative;
  top:-40px;
}

.nav-link{
  color:white;
}

.nav-link:hover{
  color:white;
}

.tab-pane{
  margin:10px;
}

.add{
  width:40px;
  height:40px;
  padding:10px;
  border-radius: 100px;
  background: #D9534F;
  float:right;
  box-shadow: 0px 0px 10px 2px #ccc;
}

.add:hover{
  background: #5BC0DE;
  box-shadow: 0px 0px 10px 2px #5BC0DE;
}

.del{
  margin-right: 5px;
}

.alter_pwd_pane{
  margin-top:100px;
  width:50%;
  border:1px solid #ccc;
  padding:40px;
  border-radius:5px;
  box-shadow: 0px 0px 8px 0px #ccc;
}

.info{
  color:white;
  float:right;
  margin-right: 12%;
  margin-top:2%;
}

.info a{
  color:yellow;
  margin-left: 8px;
}
